.icon{
    object-fit: contain;
    height: 30px;
    width: 50px;
    margin-top: 10px;
}
.logo_2{
    object-fit: contain;
    height: 150px;
    width: 150px;
}
.img_2{
   height: 150px;
   width:150px;

}
.main-box_2{
    display:inline;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
  
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-top: 1rem;
    padding: 15px;
}
.box_3{
    background: linear-gradient(90deg, #179d80, #20cda7, #179d80);
    height: 30px;
    margin-right: 2rem;
    width: 10rem;
    margin-top: .5rem;
    border-radius: 1rem;
   padding-top: 6px; 
   padding-left: 4rem;

}
.box_2{
    color: aliceblue;
}
.footer-side-box_2{
    display: flex;
    flex-direction: row;
}

#bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}