.main1{
    width: 80%;
    padding: 2rem;
    margin-bottom: 100px;
   
}
.box-1{
    display: flex;
    flex-direction: row;
   
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;
    height: 80px;
    padding-left: 15px;
    padding-top: 5px;
    
    
}
.box-21{
    /* display: flex;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    color: white;
    width: 20rem;
    align-items: center;
    align-content: center;
    /* margin-left: 1rem ; */
   
}
.rate{
 font-size: xx-large;
}
.font{
    font-size: x-small;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dash-text{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.box-3{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0 8px 17px 0px var(--primary-bg-color);
 
}
.box-3:before {
    box-shadow: 0 8px 17px 0px var(--primary-bg-color);
}
.ml-10 {
    margin-left: 10px;
}
.main-box{
    display: flex;
    flex-direction: column;
    width: 45%;
    /* color: white;
    background-color: black; */
    margin-top: 1rem;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;
}

.container{
    display: flex;
    flex-direction: row;
 
}
.sml{
    height: 4rem;
}
.container-2{
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;;
    margin-top: 2rem;
    height: 100px;
    
}
.flex{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    
}
.fixed{
   
    margin-bottom: 1px;
    font-size: small;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.numb{
    color: white;
    font-size: xx-large;
}
.detail{
    color: white;
}
.img{
    object-fit: contain;
    height: 6rem;
    width: 6rem;
}
.container-3{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    width: 40%;
    height: 7rem;

 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bld{
    font-size: xx-large;
    color: white;


}
.box-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
}

.smallbox{
    height: 2rem;
    width: 13rem;
    background: linear-gradient(90deg, #179d80, #20cda7, #179d80);
    border-radius: 1rem;
    color: white;


    
}
.perc{
    color: red;
    margin-bottom: 15px;

}
.liq{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;;
}
.clm{
    color: white;
    margin-top: 5px;
    margin-left: 50px;
}
.image{
    object-fit: contain;
    height: 5rem;
    width: 5rem;
}
.img-box{
    width: 5rem;
    align-items: center;
    align-content: center;
    display: flex;
    margin-left: .5rem;
}
.smallbox-2{
    margin-bottom: 1rem;
    color: white;
    font-size: x-large;
}
.img-1{
    object-fit: contain;
    height: 30px;
    width: 50px;
    margin-left: 2px;
    filter: sepia(100%);
    -webkit-filter: sepia(100%);
}
.container-4{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    width: 40%;
    height: 7rem;
    align-items: center;
    align-content: center;
    margin-left: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.connect{
    color: white;
    font-size: x-large;
    margin-top: 1rem;
    margin-bottom: .8rem;
}
.box-6{
    display: flex;
    flex-direction: row;
}
.container-5{
    display: flex;
    flex-direction: row;
}