.menu{
    width: 35px;
    height: 5px;
    background-color : white;
    margin: 6px 0;
   
}


.nav-side-box{
    display: flex;
    flex-direction: row;
}
.nav{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    height: 4rem;
  
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;;

}
.box--8{
    background: linear-gradient(90deg, #179d80, #20cda7, #179d80);
    height: 30px;
    margin-right: 2rem;
    width: 10rem;
    margin-top: .5rem;
    border-radius: 1rem;
   padding-top: 10px;
  
}
.dash-text {
    padding-bottom: 16px;
    color: #00ff40;
}
.p-10{
    padding:10px;
    color: white;
}
.box__1{
    color: aliceblue;
    margin-left: 1rem;
}
.main-box--5{
    display:inline;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
  
}
.icon-11{
    object-fit: contain;
    height: 50px;
    width: 30px;
    margin-top: 2px;
}

.log{
    display: flex;
    flex-direction: row;
}
 
.logo_22{
    height: 150px;
    width: 192px;
    border-right: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;;
   
}
.image11{
    width: 20%;
 
    border-width: 1px;
}

    
