.sidebar{
    width: 20%;
    padding: 10px;
    border-right: 1px solid transparent;
    border-image: linear-gradient(90deg, #1a555c, #20cda7, #1a555c);
    border-image-slice: 1;;
}
.image_3{
    object-fit: contain;
    height: 20px;
    width: 30px;
    margin-left: 2px;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.dashbord{
    display: flex;
    flex-direction: row;


}
.img_3{
    object-fit: contain;
    height: 20px;
    width: 30px;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.fontsixe{
    font-size: xx-small;
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}
.pr-8{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 8px;
    padding-bottom: 10px;
}
.container--4{
   
    /* height: 5rem;
    margin-left: 3px; */
    padding: 8px;
    border:1px solid #5e7a65;

}
.color{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.discp{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social{
    background: -webkit-linear-gradient(90deg, #179d80, #20cda7, #179d80);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px ;
}
.pr-9{
   color: white;
   padding-left: 15px;
}